body {
  font-family: "Arial", sans-serif;
  background: #11111b;
}

.question {
  display: flex;
  justify-content: center;

  p {
    font-size: 48px;
    color: #cdd6f4;
  }
}

.img {
  display: flex;
  justify-content: center;
}

img {
  display: flex;
  max-height: 300px;
  overflow: hidden;
  border-radius: 20%;
}

.answers {
  display: flex;
  margin-top: 3%;
  justify-content: center;

  .button {
    margin-right: 20px;
    margin-left: 20px;
    padding: 10%;
    border-radius: 10px;
    border: none;
    background-color: #1e1e2e;
    cursor: pointer;
  }
}

.reset {
  display: flex;
  justify-content: center;

  button {
    font-size: 46px;
    margin: 4%;
    padding: 1%;
    border-radius: 10px;
    border: none;
    color: #cdd6f4;
    background-color: #11111b;
    cursor: pointer;
  }
}

.score {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background-color: #11111b;
  color: #cdd6f4;
  font-size: 48px;
}
